/* Carga de fuentes - Al ser fuentes estáticas, se importaron por peso */
@font-face {
    font-family: 'Averia Sans Libre';
    /* Se agrega la función local para optimizar el tiempo de carga de la página, si el usuario tiene la tipografía instalada, se usará ese archivo. Los nombres asignados en local son los mismos que tendría el usuario al descargar de Google Fonts sin editar su nombre */
    src: 
    local('AveriaSansLibre-Bold'), url(../assets/fonts/AveriaSansLibre-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;

    /* Se utiliza swap para optimizar el tiempo de carga de la página */
    font-display: swap;
}

@font-face {
    font-family: 'Averia Sans Libre';
    src: local('AveriaSansLibre-Light'), url(../assets/fonts/AveriaSansLibre-Light.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Averia Sans Libre';
    src: local('AveriaSansLibre-LightItalic'), url(../assets/fonts/AveriaSansLibre-LightItalic.woff2) format("woff2");
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: local('AveriaSerifLibre-Light'), url(../assets/fonts/AveriaSerifLibre-Light.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: local('AveriaSerifLibre-Regular'), url(../assets/fonts/AveriaSerifLibre-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Didact Gothic';
    src: local('DidactGothic-Regular'), url(../assets/fonts/DidactGothic-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'icons';
    src: url(../assets/icons/icons.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* /Carga de fuentes */

/* Variables raíz */
:root {
    /* Colores */
    --color-light: #F9F8F6;
    --color-text: #190A03;

    /* Fuentes */
    --font-h1: 'Averia Serif Libre', serif;
    --font-h2: 'Averia Serif Libre', serif;
    --font-h3: 'Averia Sans Libre', sans-serif;
    --font-h4: 'Averia Sans Libre', sans-serif;
    --font-text: 'Didact Gothic', sans-serif;
    --font-btn: 'Averia Sans Libre', sans-serif;

    /* Background */
    --bg-white-with-fibers: url(../assets/backgrounds/white-with-fibers.webp);
    --bg-brown-envelope: url(../assets/backgrounds/brown-envelope.webp);
    --bg-textured-vintage: url(../assets/backgrounds/textured-vintage.webp);
    --bg-corkboard: url(../assets/backgrounds/corkboard.webp);

    --bg-size-sm: 12.5rem;
    
    --bg-lightbox: linear-gradient(0deg,rgba(25, 10, 3, 0.75) 0%, rgba(25, 10, 3, 0.6) 100%);
    
    --filter-drop-shadow: 4px 4px 4px rgba(25, 10, 3, 0.25);
    
    /* Layers (z-index) */
    --z-overlay: 1;
    --z-content: 2;
    --z-top-detail: 3;
    --z-clip: 5;

    /* Width */
    --width-detail: clamp(20rem, 90vw, 60.25rem);

    /* Transitions */
    --transition: transform 0.5s ease;
}
/* /Variables raíz */

/* Animaciones */
@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slideInRight {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}
/* /Animaciones */

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    transition: var(--transition);
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: serif;
}

h3, h4, p, a, li {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

/* /Reset CSS */

/* Components */
/* Componentes para reducir duplicidad */
/* Clase agregada para reducir la duplicidad de width: 100% de acuerdo con primer análisis de CSS Wallace */
.full-width {
    width: 100%;
}

/* Flex columns */
.container--flex-columns {
    display: flex;
    flex-flow: column nowrap;
}

.with-shadow {
    filter: drop-shadow(var(--filter-drop-shadow));
}


.detail__metadatum {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--color-text);
    padding: 7px 10px 3px 10px;
}

/* Components - tipografías globales */
h1, .text-xl {
    font: 300 clamp(2.625rem, 5vw, 4rem) var(--font-h1);
    color: var(--color-text);
    text-transform: capitalize;
}

h2, .text-lg {
    font: 400 clamp(2rem, 5vw, 2.5rem) var(--font-h2);
    color: var(--color-text);
    text-transform: uppercase;
}

h3, .text-md {
    font: 300 clamp(1.125rem, 5vw, 1.5rem) var(--font-h3);
    color: var(--color-text);
    text-transform: lowercase;
}

h4, .text-sm {
    font: 300 clamp(1.125rem, 5vw, 1.5rem) var(--font-h4);
    color: var(--color-text);
    text-transform: lowercase;
    font-style: italic;
}

p, .text-xs {
    font: 400 1.125rem var(--font-text);
    color: var(--color-text);
}

.text-xxs {
    font: 600 1rem var(--font-btn);
    color: var(--color-text);
    text-transform: uppercase;
}

a, .btn, .link {
    font: 600 1rem var(--font-btn);
    color: var(--color-text);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6875rem;

    &:hover {
        text-decoration: underline;
    }
}
/* /Components - tipografías globales*/

/* Components - icons */
[class^="icon__"], [class*=" icon__"] {
    font-family: 'icons';
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-top: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon__menu:before {content: "\e900";}
.icon__close:before {content: "\e901";}
.icon__info:before {content: "\e902";}
.icon__drag:before {content: "\e903";}
.icon__up:before {content: "\e904";}
.icon__up-right:before {content: "\e905";}
.icon__right:before {content: "\e906";}
.icon__down-right:before {content: "\e907";}
.icon__down:before {content: "\e908";}
.icon__down-left:before {content: "\e909";}
.icon__left:before {content: "\e90a";}
.icon__up-left:before {content: "\e90b";}
/* /Components - icons*/
/* /Components */

.homepage {
    /*Se contempló poner el fondo a la sección stamps, pero se cortaba*/
    background-image: var(--bg-textured-vintage);
    background-blend-mode: multiply;
    background-size: var(--bg-size-sm);
    background-repeat: repeat;

    /* Header */
    header {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        gap: 1rem;
        padding: 1rem;
        background-image: var(--bg-white-with-fibers);
        background-size: var(--bg-size-sm);
        z-index: 1;
    }

    /* Stamps section */
    .stamps {
        width: 100vw;
        height: 100vh;
        overflow: auto;
        position: relative;
        scroll-behavior: auto;
        cursor: grab;
        
        &.dragging {
            cursor: grabbing;
            scroll-behavior: auto;
        }

        .stamps__instructions {
            position: fixed;
            bottom: 2rem;
            left: 2rem;
            gap: 1rem;
            z-index: 1;

            & .icon__info {
                width: fit-content;
                padding: 1rem;
                background-image: var(--bg-brown-envelope);
                background-size: var(--bg-size-sm);
            }
            
            & .stamps__instructions-list {
                display: none;
                flex-flow: column nowrap;
                background-image: var(--bg-white-with-fibers);
                background-size: var(--bg-size-sm);
                padding: 1rem;
                gap: 1rem;
                border-radius: 3px;

                li {
                    gap: .75rem;
                    display: flex;
                    align-items: center;
                }
            }

            &:hover {
                & .stamps__instructions-list {
                    display: flex;
                }
            }
        }
        
        .stamps__grid {
            display: grid;
            grid-template: repeat(22, 10rem) / repeat(16, 10rem);
            gap: 3rem;

            .detail__open-button {
                grid-area: span 1 / span 1;

                &:hover {
                    transform: rotate(3deg);
                    cursor: pointer;
                }
                
                /* Cada hijo par se desplaza para desfasar las columnas*/
                &:nth-child(even) {
                    transform: translateY(5rem) rotate(0deg)
                }

                &:nth-child(even):hover {
                    transform: translateY(5rem) rotate(3deg)
                }
                
                .stamps__picture {
                    pointer-events: auto;

                    .stamps__img {
                        animation: appear 2s cubic-bezier(0.5, 0, 0.75, 0) 300ms 1 normal both;
                    }
                }
            }
        }
    }
    /* /Stamps section*/
    
    /* Detail section */
    .detail {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;

        /*tiene un display none por defecto para que se muestre únicamente cuando tenga la clase active*/
        display: none;

        &.active {
            display: block;
        }

        .detail__overlay {
            position: fixed;
            background: var(--bg-lightbox);
            z-index: var(--z-overlay);
            width: 100vw;
            height: 100vh;

        }
        
        .detail__content {
            position: relative;
            display: flex;
            justify-content: center;
            z-index: var(--z-content);
            margin-top: 5rem;

            .detail__clip-picture {
            position: absolute;
            z-index: var(--z-clip);

            top: -6rem;
            width: 16.25rem;
            height: auto;
            }

            .detail__clipboard {
                justify-content: start;
                align-items: end;
                width: 66.5625rem;
                height: 88.9375rem;
                padding: 1rem;

                background-image: var(--bg-corkboard);
                background-repeat: repeat;
                background-size: var(--bg-size-sm);
                border-radius: 10px;
                
                .detail__close-button {
                    width: 25px;
                    height: 25px;
                    mix-blend-mode: multiply;
                    
                    &:hover {
                        transform: rotate(3deg);
                        cursor: pointer;
                    }
                }
            }
            
            /* Factsheet block */
            .detail__factsheet {
            background-image: var(--bg-white-with-fibers);
            background-size: var(--bg-size-lg);
            background-repeat: repeat;
            padding: 2.25rem;

            position: absolute;
            top: 5rem;
            margin-left: clamp(2rem, 10vw, 3rem);
            margin-right: 1.5rem;

            width: var(--width-detail);
            gap: 5rem;

            &:hover {
                cursor: pointer;
                transform: rotate(.5deg);
            }

                .detail__main-info{
                    gap: 2.5rem;

                    align-items: end;
    
                    .detail__summary {
                        /* Propiedad white-space incluida para mantener los saltos de línea que vienen en el JSON */
                        white-space: pre-line;
                    }
    
                    .detail__wiki-link {
                        width: fit-content;
                    }
                }
            }
    
            .detail__map {
                .detail__map-canvas {
                    position: relative;

                    .detail__map-picture--base {
                        position: relative;
                        height: 100%;
                    }

                    .detail__map-picture {
                        position: absolute;
                        height: 100%;

                        /* El leve desfase entre controno y relleno es intencional, para emular error de imprenta */
                        top: 1px;
                        left: 0;
                        mix-blend-mode: multiply;
                        filter: blur(0.5px);
                    }
                }
            }

            .detail__related-species {
                gap: .5rem;
                
                .detail__related-region {
                    display: grid;
                    /* Revisar: esto se puede ver mejor en movil */
                    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
                    gap: 2rem;
                    
                    .detail__open-button {
                        &:first-child {
                            rotate: -1deg;
                        }
                            
                        &:nth-child(even) {
                            rotate: 2deg;
                        }
                        
                        &:last-child {
                            rotate: -2deg;
                        }
                    
                        &:hover {
                            transform: rotate(3deg);
                            cursor: pointer;
                            grid-area: span 1 / span 1;
                        }

                        .detail__related-picture{
                            pointer-events: auto;
                        }
                    }
                }
                
                .detail__region-name {
                    text-align: left;
                    padding-bottom: 3rem;
                }
            }
        }
        /* /Factsheet block */
        
        /* Postcard block */
        .detail__postcard-container {
            background-image: var(--bg-white-with-fibers);
            background-size: var(--bg-size-sm);
            background-repeat: repeat;
            padding: 2.25rem;
            
            position: absolute;
            top: 4rem;
            margin-left: -3rem;
            width: var(--width-detail);
            min-height: clamp(18.75rem, 37.5rem, 37.5rem);
            
            display: flex;

            transform-style: preserve-3d;
            
            &:hover {
                cursor: pointer;
                transform: rotate(-1deg);
            }
            
            .detail__postcard-front {
                gap: 1.25rem;
                backface-visibility: hidden;
                
                .detail__postcard-picture {
                    flex: 1 1 100%;
                    max-height: 32.5rem;
                    min-height: 32.5rem;
                    mix-blend-mode: multiply;
                    
                    .detail__postcard-img {
                        object-fit: cover;
                        object-position: top;
                    }
                }
                
                .detail__postcard-titles {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;
                    
                    .detail__postcard-common-name {
                        width: auto;
                    }
                    
                    .detail__scientific-name {
                        width: auto;
                        text-align: left;
                    }
                }
            }
            
            .detail__postcard-back {
                height: 100%;
                justify-content: space-between;
                align-items: end;

                padding: 2.25rem;
                backface-visibility: hidden;
                transform-origin: center;
                
                position: absolute;
                top: 0;
                left: 0;

                .detail__postcard-stamp-picture {
                    width: 9.375rem;

                    @media (max-width:520px) {
                        display: none;
                    }
                }

                .detail__postcard-info {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: end;
                    justify-content: space-between;
                    gap: 7.5rem;
                    padding-top: 1rem;

                    .detail__metadata {
                        flex: 1 1 50%;
                    }

                    .detail__wiki-link {
                        @media (max-width:660px){
                        display: none;
                        }
                    }
                }
            }
            /* /Postcard block */
        }
        /* /Detail section */
    }
}

/* States */
.top {
    z-index: var(--z-top-detail);

    
}

.moving {
    &.detail__factsheet {
        animation: slideInRight 0.5s ease-in-out;
    }

    &.detail__postcard-container {
        animation: slideInLeft 0.5s ease-in-out;
    }
}

.active {
    opacity: 100%;
}

.inactive {
    opacity: 0;
}

.flipLeft {
    transform: rotateY(180deg);
}

.flipRight {
    transform: rotateY(-180deg);
}
/* /States */