/* Carga de fuentes - Al ser fuentes estáticas, se importaron por peso */
@font-face {
    font-family: 'Averia Sans Libre';
    src: 
    /* Se agrega la función local para optimizar el tiempo de carga de la página, si el usuario tiene la tipografía instalada, se usará ese archivo */
    local('AveriaSansLibre-Bold'), /* Los nombres asignados en local son los mismos que tendría el usuario al descargar de Google Fonts sin editar su nombre */
    url(../assets/fonts/AveriaSansLibre-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;

    /* Se utiliza swap para optimizar el tiempo de carga de la página */
    font-display: swap;
}

@font-face {
    font-family: 'Averia Sans Libre';
    src: 
    local('AveriaSansLibre-Light'),
    url(../assets/fonts/AveriaSansLibre-Light.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Averia Sans Libre';
    src: 
    local('AveriaSansLibre-LightItalic'),
    url(../assets/fonts/AveriaSansLibre-LightItalic.woff2) format("woff2");
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: 
    local('AveriaSerifLibre-Light'),
    url(../assets/fonts/AveriaSerifLibre-Light.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: 
    local('AveriaSerifLibre-Regular'),
    url(../assets/fonts/AveriaSerifLibre-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Didact Gothic';
    src: 
    local('DidactGothic-Regular'),
    url(../assets/fonts/DidactGothic-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
/* /Carga de fuentes */

/* Variables raíz */
:root {
    /* Colores */
    --color-light: #F9F8F6;
    --color-text: #190A03;
    --color-red: #AF3029;
    --color-orange: #BC5215;
    --color-yellow: #AD8301;
    --color-green: #66800B;
    --color-cyan: #24837B;
    --color-blue: #205EA6;
    --color-purple: #5E409D;
    --color-magenta: #A02F6F;

    /* Fuentes */
    --font-h1: 'Averia Serif Libre', serif;
    --font-h2: 'Averia Serif Libre', serif;
    --font-h3: 'Averia Sans Libre', sans-serif;
    --font-h4: 'Averia Sans Libre', sans-serif;
    --font-text: 'Didact Gothic', sans-serif;
    --font-btn: 'Averia Sans Libre', sans-serif;

    /* Background */
    --bg-white-with-fibers: url(../assets/backgrounds/white-with-fibers.png);
    --bg-brown-envelope: url(../assets/backgrounds/brown-envelope.png);
    --bg-textured-vintage: url(../assets/backgrounds/textured-vintage.png);
    --bg-corkboard: url(../assets/backgrounds/corkboard.png);

    --bg-size: 12.5rem;
    
    --bg-lightbox: linear-gradient(0deg,rgba(25, 10, 3, 0.75) 0%, rgba(25, 10, 3, 0.6) 100%);
    
    --filter-drop-shadow: 4px 4px 4px rgba(25, 10, 3, 0.25);
    /* Layers (z-index) */
    --z-overlay: 1;
    --z-content: 2;
    --z-top-detail: 3;
    --z-clip: 4;

    /* Width */
    --width-detail: clamp(20rem, 90vw, 60.25rem);

    /* Breaking points: Aunque en CSS no se pueden usar variables como medida en media query, se dejan hechas para referencia */
    --breakpoint-sm: 520px;
    /* Revisar: medidas de breaking points*/
    --breakpoint-md: 660px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1800px;
}
/* /Variables raíz */

/* Animaciones */
@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
/* /Animaciones */

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: serif;
}

h3, h4, p, a, li {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
/* /Reset CSS */

/* Components */
/* Components - tipografías globales */
h1, .text-xl {
    font: 300 clamp(2.625rem, 5vw, 4rem) var(--font-h1);
    color: var(--color-text);
    text-transform: capitalize;
}

h2, .text-lg {
    font: 400 clamp(2rem, 5vw, 2.5rem) var(--font-h2);
    color: var(--color-text);
    text-transform: uppercase;
}

h3, .text-md {
    font: 300 clamp(1.125rem, 5vw, 1.5rem) var(--font-h3);
    color: var(--color-text);
    text-transform: lowercase;
}

h4, .text-sm {
    font: 300 clamp(1.125rem, 5vw, 1.5rem) var(--font-h4);
    color: var(--color-text);
    text-transform: lowercase;
    font-style: italic;
}

p, .text-xs {
    font: 400 1.125rem var(--font-text);
    color: var(--color-text);
}

a, .btn, .link {
    font: 600 1rem var(--font-btn);
    color: var(--color-text);
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}
/* /Components - tipografías globales*/
/* /Components */

.homepage {
    /*Se contempló poner el fondo a la sección stamps, pero se cortaba*/
    background-color: var(--color-light);
    background-image: var(--bg-textured-vintage);
    background-blend-mode: multiply;
    background-size: var(--bg-size);
    background-repeat: repeat;
    

    /* Stamps section */
    .stamps {
        width: 100vw;
        height: 100vh;
        overflow: auto;
        position: relative;
        
        .stamps__grid {
            display: grid;
            grid-template: repeat(22, 10rem) / repeat(16, 10rem);
            gap: 2.5rem;

            
            .stamps__picture {
                grid-area: span 1 / span 1;

                /*Se agrega un filtro drop-shadow para dar la ilusión de profundidad*/
                filter: drop-shadow(var(--filter-drop-shadow));
                
                /* Cada hijo par se desplaza para desfasar las columnas*/
                &:nth-child(even) {
                    transform: translateY(5rem);
                }

                .stamps__img {
                    animation: appear 2s cubic-bezier(0.5, 0, 0.75, 0) 300ms 1 normal both;

                    &:hover {
                        transform: rotate(3deg);
                        cursor: pointer;
                    }
                }
            }
        }

        .stamps__instructions {
            position: fixed;
            bottom: 1rem;
            left: 1rem;
            padding: .5rem;

            background-image: var(--bg-brown-envelope);
            filter: drop-shadow(var(--filter-drop-shadow));
        }
    }
    /* /Stamps section*/

    /* Detail section */
    .detail {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;

        /*tiene un display none por defecto para que se muestre únicamente cuando tenga la clase active*/
        display: none;

        &.active {
            display: block;
        }

        .detail__overlay {
            position: fixed;
            background: var(--bg-lightbox);
            z-index: var(--z-overlay);
            width: 100vw;
            height: 100vh;
        }
        
        .detail__content {
            position: relative;
            display: flex;
            justify-content: center;
            z-index: var(--z-content);
            margin-top: 5rem;

            .detail__clipboard-clip {
            position: absolute;
            top: -50px;
            width: 16.25rem;
            height: 11rem;
            z-index: var(--z-clip);
            }

            .detail__clipboard {
                display: flex;
                flex-flow: column nowrap;
                justify-content: start;
                align-items: end;
                width: 66.5625rem;
                height: 88.9375rem;
                padding: 1rem;

                background-image: var(--bg-corkboard);
                background-repeat: repeat;
                background-size: var(--bg-size);
                border-radius: 10px;
                
                .cruz {
                    width: 25px;
                    height: 25px;
                    
                    &:hover {
                        transform: rotate(3deg);
                        cursor: pointer;
                    }
                }
            }
            
            /* Factsheet block */
            .detail__factsheet {
            /*Revisar: revisitar medidas de ancho y alto*/
            background-image: var(--bg-white-with-fibers);
            background-size: var(--bg-size);
            background-repeat: repeat;
            padding: 2.25rem;
            filter: drop-shadow(var(--filter-drop-shadow));

            position: absolute;
            top: 7rem;
            width: var(--width-detail);
            display: flex;
            flex-flow: column nowrap;
            gap: 5rem;

            &:hover {
                cursor: pointer;
            }

                .detail__main-info{
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 2.5rem;

                    align-items: end;

                    .detail__title {
                        width: 100%;
                    }
    
                    .detail__summary {
                        width: 100%;
                    }
    
                    .detail__wiki-link {
                        width: fit-content;
                    }
                }
            }
    
            .detail__map {
                .detail__map-canvas {
                    position: relative;

                    .detail__map-picture--base {
                        position: relative;
                        width: 100%;

                        .detail__map-img--base {}
                    }

                    .detail__map-picture {
                        position: absolute;
                        width: 100%;
                        top: 2px;
                        left: 0;
                        mix-blend-mode: multiply;
                        filter: blur(0.5px);

                        .detail__map-img {}
                    }
                }
                
                .detail__metadatum {/* Styled in components */}
            }
            
            .detail__related-species {
                display: flex;
                flex-flow: column nowrap;
                gap: .5rem;
                
                .detail__related-region {
                    display: grid;
                    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
                    gap: 2rem;
                    
                    .detail__related-picture{
                        filter: drop-shadow(var(--filter-drop-shadow));

                        &:first-child {
                            rotate: -1deg;
                        }
                        
                        &:nth-child(even) {
                            rotate: 2deg;
                        }
                        
                        &:last-child {
                            rotate: -2deg;
                        }
                        
                        .detail__related-img {}
                    }
                }
                
                .detail__region-name {
                    width: 100%;
                    text-align: left;
                    padding-bottom: 3rem;
                }
            }
        }
        /* /Factsheet block */
        
        /* Postcard block */
        .detail__postcard-container {
            background-image: var(--bg-white-with-fibers);
            background-size: var(--bg-size);
            background-repeat: repeat;
            padding: 2.25rem;
            filter: drop-shadow(var(--filter-drop-shadow));
            
            position: absolute;
            top: 5rem;
            left: 2.5rem;
            width: var(--width-detail);
            
            display: flex;
            
            &:hover {
                cursor: pointer;
            }
            
            .detail__postcard-front {
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                gap: 1.25rem;
                
                .detail__postcard-picture {
                    flex: 1 1 100%;
                    max-height: 32.5rem;
                    mix-blend-mode: multiply;
                    
                    .detail__postcard-img {
                        object-fit: cover;
                        object-position: top;
                    }
                }
                
                .detail__postcard-titles {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;
                    
                    .detail__postcard-common-name {
                        width: auto;
                    }
                    
                    .detail__scientific-name {
                        width: auto;
                        text-align: left;
                    }
                }
            }
            
            .detail__postcard-back {
                height: 100%;
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: end;

                padding: 2.25rem;
                
                position: absolute;
                top: 0;
                left: 0;

                .detail__postcard-stamp-picture {
                    filter: drop-shadow(var(--filter-drop-shadow));
                    width: 9.375rem;
                    transform: rotate(1deg);

                    @media (max-width:520px){
                        display: none;
                    }

                    .detail__postcard-stamp-img {}
                }

                .detail__postcard-info {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: end;
                    justify-content: space-between;
                    gap: 7.5rem;
                    padding-top: 1rem;

                    .detail__metadata {
                        flex: 1 1 50%;

                        .detail__metadatum {/* Styled in components */}
                    }

                    .detail__wiki-link {
                        @media (max-width:660px){
                        display: none;
                        }
                    }
                }
            }
            /* /Postcard block */
        }
        /* /Detail section */
    }
}

/* States */
.top {
    z-index: var(--z-top-detail);
}

.active {
    opacity: 100%;
}

.inactive {
    opacity: 0;
}
/* /States */

/* Revisar: Component??? */
.detail__metadatum {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--color-text);
    padding: 7px 10px 3px 10px;
}